body {
    display: flex;
    justify-content: center;
    padding-top: 135px;
    background-color: white;
}

.outer-container {
    height: 480px; 
    width: 360px; 
    background-color:lightgrey; 
    border-radius: 8px;
    padding-top: 24px; 
    padding-left: 20px;
    padding-right: 20px; 
    padding-bottom: 20px; 
    border-style: solid;
}

.display {
    height: 120px; 
    border-radius: 6px;
    background-color: yellow;
    padding-right: 24px; 
    text-align: right;
    margin-bottom: 9px;
    display: flex; 
    flex-direction: column;
    border-style: solid;
}

.equation-display {
    color: black;
    font-family: 'Orbitron', sans-serif;
    height: 50%; 
    font-size: 21px; 
    line-height: 60px; 
}

.answer-display {
    color: black;
    font-family: 'Orbitron', sans-serif;
    height: 50%; 
    font-size: 42px;
    font-weight: bold;
    line-height: 60px; 
}

.row-container {
    display: flex; 
    width: 360px; 
    justify-content: space-between;
}

.bottom-container {
    height: 360px; 
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

button {
    height: 70px;
    width: 86px; 
    border-radius: 6px; 
    font-size: 20px;
}

.delete {
    background-color:darkorange;    
    width: 178px; 
}

.clear {
    background-color:deepskyblue; 
    width: 178px; 
}

.operation {
    background-color: pink; 
}


